.light-background,
.dark-background {
    margin: 120px -15px 120px -15px;
    padding: 8rem 2rem 8rem 2rem;
    display: flex;
    justify-content: center;
}

.dark-background {
    background: #111;
    color: #fff;
}

h4 {
    min-height: 100%;
}

.light-background {
    color: #111;
}
