
.y-axis-transactions path,
.y-axis-transactions line {
 fill: none;
 stroke: #fff !important;
 shape-rendering: crispEdges;
}

text {
  font-size: 0.80em;
  background-color: #333;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.chart-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
}

